{% extends 'main/base.html' %}

{% block content %}
<a class="btn btn-outline-dark" href="{%url 'main:home'%}" role="button">Назад</a>
      <div class="col-6">
            <form method="post" enctype=multipart/form-data>
            <div class="card">
                  <div class="card-header">
                        Профиль
                  </div>
                  <div class="card-body">
                        <form method="post">
                              {%csrf_token%}
                              {{form.as_p}}
                              <input type="submit" class="btn btn-outline-dark" value="Сохранить">
                        </form>
                  </div>
            </div>
      </div>
{% endblock %}