{% extends 'main/base.html' %}

{% block content %}
<body>
<form>
      <div class="mb-sm-3">
        <label for="exampleInputName" class="form-label">Имя</label>
        <input type="text" class="form-control" id="exampleInputName">
      </div>
      <div class="mb-sm-3">
        <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
      </div>
      <div class="mb-sm-3>
        <label for="exampleInputText" class="form-label">Ваше сообщение</label>
        <input type="text" class="form-control" id="exampleInputText">
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
</form>

  </body>
</html>
{% endblock %}