{% load static %}

<link
rel="stylesheet"
type="text/css"
href="{% static "css/uikit.css" %}"
/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="uk-button uk-button-primary" href="/">Домашняя страница</a>
        <a class="uk-button uk-button-primary" href="/contact/">Контактная информация</a>
    </nav>
</div>
<div class="uk-child-width-1-2@s uk-light" uk-grid>
    <div>
        <div class="uk-background-top-center uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center" style="background-image: url(https://ngcmshak.ru/uploads/dsn/fe/72/001/1587646418_38-p-besshovnie-foni-dlya-saitov-112.jpg);">
            <p class="uk-h4">
                {% for product in products %}
                <span class="uk-margin-small-right" uk-icon="check">{{product.product_name}}</span>
                {% endfor %}
            </p>
        </div>
    </div>
</div>
</body>
</html>