{% extends 'main/base.html' %}
{%load static%}
{%load my_tags%}

{% block content %}
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
      <img src="{{'hzS1A2pOleN3w4pviwilvwwCb6vmg08KZlMgiXmi.png'|mediapath }}" class="img-fluid"<rect width="20%" height="20%""</rect>
    {% for product in products %}
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">{{product.product_name}}</h1>
      <p class="lead fw-normal">{{product.description|truncatechars:100}}.</p>
      <a class="btn btn-outline-secondary" href="#">Нет в наличии</a>
    </div>
    {% endfor %}
  </div>
    {% include "main/includes/pagination.html" %}
  <form>
      <div class="mb-sm-3">
        <h1>Зарегистрировать товар</h1>
        <label for="product_name" class="form-label">Название</label>
        <input type="text" class="form-control" id="product_name">
      </div>
      <div class="mb-sm-3">
        <label for="price" class="form-label">Цена</label>
        <input type="text" class="form-control" id="price">
      </div>
      <div class="mb-sm-3">
        <label for="category" class="form-label">Категория</label>
        <input type="text" class="form-control" id="category">
      </div>
      <div class="mb-sm-3>
        <label for="description" class="form-label">Описание</label>
        <input type="text" class="form-control" id="description">
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</main>
{% endblock %}
