{% extends 'main/base.html' %}

{% block content %}
<a class="btn btn-outline-dark" href="{%url 'main:home'%}" role="button">Назад</a>
      <div class="col-6">
            <form method="post" enctype=multipart/form-data>
            <div class="card">
                  <div class="card-header">
                        Продукт
                  </div>
                  <div class="card-body">
                        <form method="post">
                              {%csrf_token%}
                              {{form.as_p}}
                              <input type="submit" class="btn btn-outline-dark" value="{% if object %}Сохранить{% else %}Зарегистрировать{% endif %}">
                  </div>
            </div>
      </div>
      <div class="col-6">
            <div class="card">
                  <div class="card-header">
                        Версия
                  </div>
                  <div class="card-body">
                              {{formset.management_form}}
                              {% for form in formset.forms %}
                                    {{form.as_p}}
                                          {% for i in product.versions.all %}
                                          {{ product.version.is_active }}
                                          {% endfor %}
                              {% endfor %}
                  </div>
            </div>
            </form>
      </div>
{% endblock %}
